<h2>Welcome to the Volunteer Tracker</h2>
<br><br>
<p>You can view a list of projects as a volunteer. Click here if you are a volunteer: <a href="/tracker/volunteer">I am a volunteer</a></p>
<br>
<p>You can view a list of projects and volunteers. Click here if you are a manager: <a href="/tracker/projects">I am a manager</a></p>