<% if @projects.any? %>

<h3>List of available projects</h3>
<ul>
  <% @projects.each do |project| %>
  <li><%=project.title%></li>
  <% end %>
</ul>
<% else %>
<h3>No projects yet.</h3>
<% end %>
<br>
<a href="/tracker" class="btn btn-primary">Return to home page</a>