<% if @projects.any? %>

<h3>List of projects:</h3>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/tracker/projects/<%=project.id%>"><%=project.title%></a></li>
  <% end %>
</ul>
<% else %>
  <h3>No projects yet.</h3>
<% end %>
<br>
<h4>Create a new project</h4>
<form action="/tracker/projects" method="post">
  <div class="form-group">
    <label for="title">Enter the name of the Project:</label>
    <input type="text" name="title" required>
  </div>
  <button type="submit" class="btn btn-success">Create Project</button>
</form>
<br><br>


If you want to see the list of all volunteers <a href="/tracker/volunteers">click here</a>

<br>
<br>
<a href="/tracker" class="btn btn-primary">Return to home page</a>

