<h3>List of Volunteers for <%= @project.title %> project </h3>


<p><a href="/tracker/projects/<%= @project.id %>/edit">Edit project</a></p>
<p><a href="/tracker/projects">Return to project list</a></p>