<% if @projects.any? %>

<h3>List of available projects</h3>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/tracker/projects/<%=project.id%>"><%=project.title%></a></li>
  <% end %>
</ul>
<% else %>
<h3>No projects yet.</h3>
<% end %>
<br>
<a href="/tracker">Return to home page</a>